- if @project == parent
  = simple_form_for([@project, resource]) do |f|
    = f.error_notification
    = f.input :url
    .centered-actions
      = f.button :submit

- else
  = simple_form_for([@project, parent, resource]) do |f|
    = f.error_notification
    = f.input :url
    .centered-actions
      = f.button :submit
