= tinymce_assets

.form-600-border
  %h2= form_title
  = simple_form_for([@project, @map]) do |f|
    -if notice
      .notice-div
        = notice
        = link_to "Back to maps list.", project_maps_path(@project)
    = f.error_notification

    .form-inputs
      = f.input :name
      = f.input :lump, :placeholder => @project.game.default_lumpname
      = f.input :desc, :input_html => {:class => 'tinymce'}
      = tinymce
      .centered-actions
        = f.button :submit
