= simple_form_for([@project, @map]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :lump, :placeholder => @project.game.default_lumpname
    = f.input :desc
    = f.input :wadfile

  .form-actions
    = f.button :submit
