= simple_form_for([@project, @map]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :lump, :placeholder => @project.game.default_lumpname
    = f.input :desc

  .form-actions
    = link_to "new wadfile", new_project_map_map_wadfile_path(@project, @map), :remote => true
    = f.button :submit
