%h1 Listing maps

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @maps.each do |map|
    %tr
      %td= map.name
      %td= link_to 'Show', project_map_path(@project, map)
      %td= link_to 'Edit', edit_project_map_path(@project, map)
      %td= link_to 'Destroy', project_map_path(@project, map), :confirm => 'Are you sure?', :method => :delete

%br

.form-links
  = link_to 'New Map', new_project_map_path
