%p#notice= notice

%dl.nice.contained.tabs
  %dd= link_to 'Overwiew', '#overview', :class => 'active'
  %dd= link_to 'Resources', '#resources'
  %dd= link_to 'Screens', '#screens'

%ul.nice.contained.tabs-content
  %li.panel.c333.black-border.project-overview.active#overviewTab
    =render @map
  %li.panel.c333.black-border.files#resourcesTab
    .row
      .ten.columns
        - @map.uploads.each do |mwf|
          .row
            .three.columns
              %div
                = mwf.upload_updated_at.strftime('%c')
            .nine.columns
              %span= mwf.name
              -if mwf.downloadable_by?(current_user)
                %span (
                %span= link_to 'download', download_project_map_upload_path(@project, @map, mwf)
                %span )
      .two.columns.resource-actions
        - if @project.mappable_by? current_user
          = link_to 'New Resource', new_project_map_resource_path(@project, @map), :class => 'small white nice button radius'
  %li.panel.c333.black-border.map-screens#screensTab
    %p coming soon
