.news
  #news-list
    - news.each do |n|
      .news-entry.c333.black-border
        .row.noinset.news-entry-top.c222
          .twelve.columns
            .row
              .eight.columns.news-entry-author
                = n.user.try(:login)
              .four.columns.news-entry-date
                %span
                  = n.created_at.strftime("%B #{n.created_at.day.ordinalize}, %Y")
                %span.news-entry-timeago
                  = '(' + time_ago_in_words(n.created_at) + " ago)"
            .row
              .eleven.columns.news-entry-title
                %h4= link_to n.title, n
              .one.column.news-entry-options
                - if n.user == current_user
                  %span &times
        .row.news-entry-bottom
          .twelve.columns.news-entry-content
            = n.content.html_safe