.dh-title
  %span Doom
  %span.colored hub
  %span .
  %span.colored com
%p ...is in early development stage.

-if alert
  .error-div
    = alert
-if notice
  .notice-div
    = notice

.panel.c333.black-border
  %div
    See current projects:
    = link_to "Projects", projects_path
  %br
  %div
    Interested in what's going on? Follow development tickets:
    = link_to "Trello board", "https://trello.com/board/doomhub/4f9bdf84ad3167802d2a8938"

= render "shared/news_list", :news => @news
