.row.dh-title-div
  .six.columns
    %div
      .dh-title
        %span Doom
        %span.colored hub
        %span .
        %span.colored com
      %p ...is in early development stage.
  .six.columns
    %ul.support-links
      %li
        .c333.black-border{ :style => 'height:66px' }
          %div.img.right-floater{ :style => 'line-height: 7.5;'}= lighthouse_link image_tag('lighthouse-icon.png')
          %div.support-link-text
            %span= lighthouse_link
            %span is a issue tracking service; you can see what is being worked on, what is planned for the future and what are the currently reported bugs. Use it to report issues and share suggestions.
      %li
        .c333.black-border{ :style => 'height:50px' }
          %div.img.right-floater= github_link image_tag('github-icon.png')
          %div.support-link-text
            = github_link
            %span holds the entire public repository for the project's code. Look there if you're a developer looking for ideas, or are just curious.
      %li
        .c333.black-border{ :style => 'height:50px' }
          %div.img.right-floater= mail_to "admin@doomhub.com", image_tag('mail-icon.png')
          %div.support-link-text
            %span If all else fails or you're not interested in the above (
            %i or you just have a question
            %span ), a simple
            = mail_to 'admin@doomhub.com', 'e-mail'
            %span might be enough.

-if alert
  .error-div
    = alert
-if notice
  .notice-div
    = notice

.offset-news-header
  %h1 News
= render "shared/news_list", :news => @news