.row.dh-title-div
  .six.columns
    .c222.black-border
      .dh-title
        %span Doom
        %span.colored hub
        %span .
        %span.colored com
      %p ...is in early development stage.
  .six.columns
    %ul.support-links
      %li
        .c222.black-border
          %div.right-floater= link_to image_tag('lighthouse-icon.png'), 'http://doomhub.lighthouseapp.com/projects/96541-doomhub/tickets'
          %div.support-link-text Lighthouse
      %li
        .c222.black-border
          %div.right-floater= link_to image_tag('github-icon.png'), 'https://github.com/ellmo/doomhub'
          %div.support-link-text Github
      %li
        .c222.black-border
          %div.right-floater= mail_to "admin@doomhub.com", image_tag('mail-icon.png')
          %div.support-link-text Mail

-if alert
  .error-div
    = alert
-if notice
  .notice-div
    = notice

.offset-news-header
  %h1 News
= render "shared/news_list", :news => @news