= simple_form_for(@project) do |f|
  -if notice
    .notice_div
      = notice
      = link_to "Back to projects list.", projects_path
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :url_name
    = f.input :description
    = f.association :game, :include_blank => false
    = f.association :source_port, :include_blank => false

  .form-actions
    = f.button :submit
