.form-600-border
  %h2= form_title
  = simple_form_for(@project) do |f|
    -if notice
      .notice-div
        = notice
        = link_to "Back to projects list.", projects_path
    = f.error_notification

    .form-inputs
      = f.input :name
      = f.input :url_name
      = f.association :item_access, :as => :radio_buttons
      = f.input :description, :rows => 15
      = f.association :game, :include_blank => false
      = f.association :source_port, :include_blank => false
      .centered-actions
        = f.button :submit
