.row
  .nine.columns
    %h4= link_to_unless_current project.name, project
  .three.columns.project-actions
    - if can? :update, project
      = link_to 'Edit', edit_project_path(project), :class => 'small white nice button radius'
    - if can? :destroy, project
      = link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete, :class => 'small white nice button radius'
.row.project-game-data
  %div
    %span{:style => "font-weight: bold;"} Game:
    %span= project.game.name
  %div
    %span{:style => "font-weight: bold;"} Source Port:
    %span= project.source_port.name
.project-description
  = project.description

