=render 'titlebar', :project => project
#project-show
  .row
    .seven.columns
      .row
        #project-game-data.c222.black-border.tall
          %div
            %span{:style => "font-weight: bold;"} Game:
            %span= project.game.name
          %div
            %span{:style => "font-weight: bold;"} Source Port:
            %span= project.source_port.name
          %div
            %span{:style => "font-weight: bold;"} Author:
            %span= project.creator.login
          %div
            %span{:style => "font-weight: bold;"} Founded:
            %span= project.created_at.strftime("%B #{project.created_at.day.ordinalize}, %Y")
    .five.columns
      .row
        #project-slideshow-container.c222.black-border.tall
          #project-slideshow
            #project-orbit
              - project.map_images.each do |mi|
                = image_tag image_path(mi.image.url(:medium))


  -unless project.description.empty?
    #project-description-container.row
      #project-description.c222.black-border
        = project.description.html_safe

