%h1 Listing projects

%br
- if can? :create, Project
  = link_to 'New Project', new_project_path

- @projects.each do |project|
  .panel.project-panel
    %h4= link_to project.name, project
    .project-game-data
      %span= project.game.name
      %span= project.source_port.name
    .project-description
      = project.description
    .project-actions
      = link_to 'Maps', project_maps_path(project), :class => 'small white nice button radius'
      = link_to 'Edit', edit_project_path(project), :class => 'small white nice button radius'
      = link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete, :class => 'small white nice button radius'

%br
- if can? :create, Project
  = link_to 'New Project', new_project_path
