%h1 Listing projects

%table
  %tr
    %th Name
    %th Url name
    %th Description
    %th Game
    %th Source port
    %th
    %th
    %th

  - @projects.each do |project|
    %tr
      %td= project.name
      %td= project.url_name
      %td= project.description
      %td= project.game.name
      %td= project.source_port.name
      %td= link_to 'Show', project
      %td= link_to 'Maps', project_maps_path(project)
      %td= link_to 'Edit', edit_project_path(project)
      %td= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete

%br
.form-links
  = link_to 'New Project', new_project_path
