%p#notice= notice

%dl.nice.contained.tabs
  %dd= link_to 'Overwiew', '#overview', :class => 'active'
  %dd= link_to 'Maps', '#maps'
  %dd= link_to 'Resources', '#resources'

%ul.nice.contained.tabs-content
  %li.panel.project-overview.active#overviewTab
    = render @project
  %li.panel.project-map-list#mapsTab
    - @project.maps.each do |map|
      = link_to map.name, [@project, map]
  %li.panel.resource-list#resourcesTab
    %p coming soon