%p#notice= notice

.panel.project-panel
  %h2= @project.name
  .project-game-data
    %span= @project.game.name
    %span= @project.source_port.name
  .project-map-list
    - @project.maps.each do |map|
      = link_to map.name, [@project, map]
