%p#notice= notice

%dl.nice.contained.tabs
  %dd= link_to 'Overview', '#overview', :class => 'active'
  %dd= link_to 'Maps', '#maps'
  %dd= link_to 'Images', '#images'
  %dd= link_to 'Resources', '#resources'
%ul.nice.contained.tabs-content#project-show
  %li.c333.black-border.project-overview.active#overviewTab
    = render @project
  %li.c333.black-border.project-maps#mapsTab
    .row
      .nine.columns
        - @project.maps.each do |map|
          .row
            %span= "#{map.lump}:"
            %span= link_to map.name, [@project, map]
            -unless map.map_wadfiles.empty?
              %span (
              = link_to "wadfiles", project_map_path(@project, map, :anchor => 'wadfiles')
              %span )
      .three.columns.resource-actions
        -if @project.mappable_by? current_user
          = link_to 'New Map', new_project_map_path(@project), :class => 'small white nice button radius'
  %li.c333.black-border.project-images#imagesTab
    = render 'shared/image_gallery', :project => @project
  %li.c333.black-border.project-resources#resourcesTab
    coming soon