.twelve.columns
  .row
    .eight.columns.centered.c222.black-border
      %h2 Log in
      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        -if alert
          .error-div
            = alert
        = f.input :login, :required => false, :autofocus => true, :label => "Login or e-mail"
        = f.input :password, :required => false
        #forgot-pass-link
<<<<<<< .merge_file_SHXcpU
          = link_to "I forgot...", new_password_path(resource_name)
=======
          = link_to "I forgot...", new_password_path(resource_name), {:tabindex => -1}
>>>>>>> .merge_file_qx4kpR
        %div
          = f.input :remember_me, :as => :zurb_boolean, :label_html => {:style => "width: auto;"} if devise_mapping.rememberable?
        .centered-actions
          = f.button :submit, "Log in", :class => "nice"
