!!!
%html
  %head
    %title Doomhub.com
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{ :data => backbone_data_hash }
    #mother-of-all-containers
      .container#topmost
        .row.almostblack#toolbar
          .three.columns
            #login-logout
              = user_login_span_tag(current_user)
          .six.columns
          .three.columns#profile-management
            - if can? :create, Project
              = link_to 'Manage projects', user_projects_path(current_user), :class => 'small nice black button radius slim'
        .row
          .twelve.columns
            = render_breadcrumbs :builder => DoomhubBreadcrumbsBuilder
            = yield
        .push
      .container#footer
        .row.almostblack
          .twelve.columns#author
            by ellmo 2012
