!!!
%html
  %head
    %title Doomhub.com
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag
  %body{ :data => backbone_data_hash }
    #mother-of-all-containers
      .container#topmost
        .row.almostblack#toolbar
          .three.columns
            #login-logout
              = user_login_span_tag(current_user)
          .six.columns#project-links
            Projects:
            = link_to 'All', projects_path, :class => 'small nice black button radius slim'
            - if can? :create, Project
              = link_to 'Mine', user_projects_path(current_user), :class => 'small nice black button radius slim'
          .three.columns#profile-management
            %div{:style => 'margin-right: 8px;'}
              - if can? :update, current_user
                = link_to 'Profile', current_user, :class => 'small nice black button radius slim'
        .row
          .twelve.columns
            = render_breadcrumbs :builder => DoomhubBreadcrumbsBuilder
            = yield
        .push
      .container#footer
        .row.almostblack
          .twelve.columns#author
            by ellmo 2012
