!!!
%html
  %head
    %title Doomhub.com
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{ :data => backbone_data_hash }
    #mother_of_all_containers
      .container#topmost
        .row.almostblack#toolbar
          .three.columns#login_logout
            = user_login_span_tag(current_user)
          .six.columns{ :style => "text-align: center;"}
            = link_to "Go home", root_path
          .three.columns
        .row
          .twelve.columns
            = yield
        .push
      .container#footer
        .row.almostblack
          .twelve.columns#author
            by ellmo 2012
